.timeline-item {
    position: absolute;
    background-color: $color-item;
    height: calc(100% - 20px);
    border-radius: 5px;
    border-width: 0;
    border: 0 solid $color-accent;
    transition: border-width 0.1s linear;

    & > .__drag-handle {
        position: absolute;
        height: 50%;
        width: 6px;
        top: 25%;
        background-color: $color-secondary;
        border-style: solid;
        border-color: $color-accent;
        cursor: col-resize;

        &.--left {
            left: -8px;
            border-radius: 3px 0 0 3px;
            border-width: 2px 0 2px 2px;
        }

        &.--right {
            right: -8px;
            border-radius: 0 3px 3px 0;
            border-width: 2px 2px 2px 0;
        }

    }

    &.--selected {
        border-width: 2px;
        z-index: 1;
    }

}