.timeline {
    width: 100%;
    background-color: $color-timeline;
    user-select: none;
    --moz-user-select: none;

    .item-container {
        position: relative;
    }

    .marker-line {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        background-color: $color-timeline-marker-line;
    }

}