$color-primary: #6666ff;
$color-secondary: #535e7a;
$color-accent: #37e89c;

$color-timeline: #363b4a;
$color-timeline-header: #2a2e3b;
$color-timeline-labels-major: #626773;
$color-timeline-labels-minor: #3c404e;
$color-timeline-marker-line: #2f3442;
$color-track-border: #2f3442;
$color-item: $color-secondary;